@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://www.fontify.me/wf/0e37bbc0afac98c50be8af498565a19f);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

body {
  background-image: linear-gradient(-90deg, #F8F8F8 20%, #F8F8F8 20%, #E4E4E4 20.1%, #F8F8F8 20.1%, #F8F8F8 40%, #E4E4E4 40.1%, #F8F8F8 40.1%, #F8F8F8 60%, #E4E4E4 60.1%, #F8F8F8 60.1%, #F8F8F8 80%, #E4E4E4 80.1%, #F8F8F8 80.1%, #F8F8F8 100%); }
  @media (max-width: 480px) {
    body {
      background: #F8F8F8; } }

.content-border {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: 20px solid #FFF;
  pointer-events: none; }
  @media (max-width: 480px) {
    .content-border {
      border: 10px solid #FFF; } }

[class*='grid']:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box; }

.grid-full {
  width: 100%;
  height: 100vh; }

.grid {
  max-width: 800px;
  margin: auto; }

.column, .column-1-12, .column-2-12, .column-3-12, .column-4-12, .column-5-12, .column-6-12, .column-7-12, .column-8-12, .column-9-12, .column-10-12, .column-11-12, .column-12-12 {
  float: left;
  padding: 10px; }

.column-1-12 {
  width: 8.3333333333%; }

.column-2-12 {
  width: 16.6666666667%; }

.column-3-12 {
  width: 25%; }

.column-4-12 {
  width: 33.3333333333%; }

.column-5-12 {
  width: 41.6666666667%; }

.column-6-12 {
  width: 50%; }

.column-7-12 {
  width: 58.3333333333%; }

.column-8-12 {
  width: 66.6666666667%; }

.column-9-12 {
  width: 75%; }

.column-10-12 {
  width: 83.3333333333%; }

.column-11-12 {
  width: 91.6666666667%; }

.column-12-12 {
  width: 100%; }

@media (min-width: 480px) and (max-width: 700px) {
  .column-1-12 {
    width: 50%; }

  .column-2-12 {
    width: 50%; }

  .column-3-12 {
    width: 50%; }

  .column-4-12 {
    width: 50%; }

  .column-5-12 {
    width: 50%; }

  .column-6-12 {
    width: 50%; }

  .column-6-12 {
    width: 100%; }

  .column-7-12 {
    width: 100%; }

  .column-8-12 {
    width: 100%; }

  .column-9-12 {
    width: 100%; }

  .column-10-12 {
    width: 100%; }

  .column-11-12 {
    width: 100%; } }
@media (max-width: 480px) {
  .column-1-12 {
    width: 50%; }

  .column-2-12 {
    width: 50%; }

  .column-3-12 {
    width: 50%; }

  .column-4-12 {
    width: 50%; }

  .column-5-12 {
    width: 100%; }

  .column-6-12 {
    width: 100%; }

  .column-7-12 {
    width: 100%; }

  .column-8-12 {
    width: 100%; }

  .column-9-12 {
    width: 100%; }

  .column-10-12 {
    width: 100%; }

  .column-11-12 {
    width: 100%; } }
html {
  font-size: 1px; }

body {
  font-size: 14rem;
  font-family: "Avenir", sans-serif;
  line-height: 1;
  font-weight: 300;
  text-align: left; }

h1, h2, h3, h4, h5, h6, small {
  margin: 0.2em 0; }

h1 {
  font-size: 64rem;
  font-weight: 800;
  letter-spacing: -2rem; }
  @media (max-width: 480px) {
    h1 {
      font-size: 34rem; } }

h2 {
  font-size: 45rem;
  font-weight: 800;
  letter-spacing: -2rem; }
  @media (max-width: 480px) {
    h2 {
      font-size: 30rem; } }

h3 {
  font-size: 32rem; }

h4 {
  font-size: 23rem; }

h5 {
  font-size: 16rem;
  font-weight: 800; }

h6 {
  font-size: 11rem;
  font-weight: 500;
  margin-bottom: 10px; }

small {
  font-size: 8rem; }

p {
  font-size: 14rem;
  margin-bottom: 1em;
  line-height: 1.6; }

b {
  font-weight: 500; }

a {
  text-decoration: none;
  font-size: 12rem;
  font-weight: 300;
  color: #8A8A8A; }
  a:hover {
    color: #0b0b0b; }

nav {
  width: 100%;
  z-index: 10;
  text-align: center;
  background: #F7F7F7;
  padding: 10px; }
  nav .nav-left {
    float: left; }
  nav .nav-right {
    float: right; }
  nav ul li {
    display: inline-block;
    margin: 0 10px; }
    nav ul li:first-child {
      margin-left: 0; }
    nav ul li:last-child {
      margin-right: 0; }

ul li {
  font-size: 12rem;
  line-height: 18rem; }

.button, .button-left, .button-right, .button-group .button {
  display: inline-block;
  border: 1px solid #8A8A8A;
  border-radius: 2px;
  text-align: center;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 15px;
  margin: 2px 2px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .button:hover, .button-left:hover, .button-right:hover {
    color: #FFF;
    background: #000;
    border-color: #000; }

.button-left {
  float: left; }

.button-right {
  float: right; }

.button-group {
  display: inline-block; }
  .button-group .button-left, .button-group .button-right, .button-group .button {
    border-radius: 0;
    margin: 10px -2px;
    display: inline-block; }
    .button-group .button-left:first-child, .button-group .button-right:first-child, .button-group .button:first-child {
      border-radius: 2px 0 0 2px;
      margin-left: 0; }
    .button-group .button-left:last-child, .button-group .button-right:last-child, .button-group .button:last-child {
      border-radius: 0 2px 2px 0;
      margin-right: 0; }

@media (max-width: 480px) {
  .button-group {
    display: block;
    width: 100%; }
    .button-group .button-left, .button-group .button-right, .button-group .button {
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 0; }
      .button-group .button-left:first-child, .button-group .button-right:first-child, .button-group .button:first-child {
        border-radius: 2px 2px 0 0; }
      .button-group .button-left:last-child, .button-group .button-right:last-child, .button-group .button:last-child {
        border-radius: 0 0 2px 2px; } }
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  background: #F7F7F7;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #8A8A8A;
  font-family: "Avenir", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #000; }

textarea {
  height: 100px; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Avenir", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #888; }

label {
  font-size: 10px;
  font-weight: 400; }

select {
  display: block;
  float: left;
  position: relative;
  background: #8A8A8A;
  background-image: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  padding: 9px 20px 9px 20px;
  border-radius: 2px;
  border: 1px solid #8A8A8A;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  width: 200px; }

.dropdown {
  -webkit-appearance: none;
  position: relative;
  padding: 10px 40px 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: auto;
  border-radius: 2px;
  border: 1px solid #8A8A8A;
  background: #8A8A8A;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .dropdown:hover, .dropdowndropdown:focus {
    color: #FFFFFF;
    background: #575757;
    border: 1px solid #575757; }
  .dropdown ul {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 8px -20px;
    border-radius: 0;
    opacity: 0;
    padding: 40px 0 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .dropdown ul li {
      display: block;
      float: left;
      margin: 0;
      width: 100%;
      border-radius: 0;
      background: #8A8A8A; }
      .dropdown ul li:hover {
        color: #FFF;
        background: #575757; }
      .dropdown ul li:first-child {
        border-radius: 2px 2px 0 0; }
      .dropdown ul li:last-child {
        border-radius: 0 0 2px 2px; }
      .dropdown ul li a {
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px;
        text-align: left;
        display: block;
        font-size: 10rem;
        font-weight: 500;
        color: #FFF;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

.dropdown:after {
  position: absolute;
  top: 40%;
  right: 15px;
  content: " ";
  height: 0;
  border: solid transparent;
  border-top-color: #FFF;
  border-width: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dropdown:hover:after {
  border-top-color: #FFF; }

.dropdown ul:before {
  position: relative;
  top: 0;
  right: 15px;
  float: right;
  content: " ";
  height: 0;
  border: solid transparent;
  border-bottom-color: #8A8A8A;
  border-width: 5px; }

.open > ul {
  opacity: 1;
  padding: 0;
  pointer-events: auto; }

table {
  background: none;
  font-size: 12px; }
  table th {
    font-weight: 400;
    text-align: left;
    padding: 5px 0; }
  table tr {
    border-bottom: 1px solid #F7F7F7; }
    table tr td {
      padding: 5px 0; }

ul.tabs:before {
  clear: both; }

ul.tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

ul.tabs li {
  background: none;
  font-size: 12px;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  background: #ededed; }

ul.tabs li.current {
  background: #F7F7F7;
  color: #222; }

ul.tabs li:hover {
  background: #F7F7F7; }

.tab-content {
  display: none;
  background: #F7F7F7;
  padding: 10px; }

.tab-content.current {
  display: inherit; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.clearfix {
  clear: both; }

img {
  width: 100%; }

.image-container {
  width: 100%;
  height: 50vh;
  overflow: hidden; }

hr {
  width: 100%;
  margin: auto;
  border: 0.5px solid #EAEAEA;
  height: 0;
  margin: 20px 0; }

.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.spacer {
  height: 40px; }

@media (min-width: 700px) and (max-width: 1100px) {
  .spacer {
    height: 40px; } }
@media (min-width: 480px) and (max-width: 700px) {
  .spacer {
    height: 20px; } }
@media (max-width: 480px) {
  .spacer {
    height: 10px; } }
#logo {
  width: 35px;
  position: absolute;
  display: block;
  left: 40px;
  top: 40px; }
  @media (max-width: 480px) {
    #logo {
      left: 25px;
      top: 25px; } }

#open {
  width: 20px;
  position: absolute;
  display: block;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 10; }
  @media (max-width: 480px) {
    #open {
      right: 25px;
      top: 25px; } }

#close {
  width: 20px;
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10; }

#menu {
  width: 100%;
  background: #ECECEC;
  border: 20px solid #FFF;
  position: fixed;
  padding: 20px 10px;
  height: 100%;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
  text-align: center; }
  #menu ul li {
    padding: 0;
    margin: 0; }
    #menu ul li a {
      font-family: "Avenir", sans-serif;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 60rem;
      line-height: 60rem;
      color: #8A8A8A; }
      #menu ul li a:hover {
        color: #000; }
      #menu ul li a img {
        width: 25px;
        padding: 20px 5px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        background-blend-mode: multiply; }
        #menu ul li a img:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }
    #menu ul li h5 {
      font-size: 8rem; }

.navagation-bar {
  width: 100%;
  position: absolute;
  z-index: 9;
  bottom: 40px;
  left: 10%;
  right: 10%; }
  .navagation-bar li {
    width: 20%;
    float: left;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px 10px 10px;
    margin: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .navagation-bar li:hover {
      background: #FAFAFA;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07); }
    .navagation-bar li a {
      font-family: "Avenir", sans-serif;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 16rem;
      color: #000; }
    .navagation-bar li p {
      font-size: 10rem;
      font-weight: 200;
      text-transform: capitalize; }

@media (max-width: 700px) {
  .navagation-bar {
    display: none; } }
.section {
  text-align: center;
  padding: 0 15%; }

.background-text {
  width: 100%;
  font-weight: 800;
  font-size: 200rem;
  position: absolute;
  text-align: center;
  color: #EEEEEE;
  z-index: -1;
  margin-left: -15%;
  top: 25vh; }
  @media (max-width: 480px) {
    .background-text {
      top: 30vh;
      font-size: 150rem; } }

#stefanmos {
  text-align: center; }
  #stefanmos .background-text {
    font-size: 300px; }
    @media (max-width: 480px) {
      #stefanmos .background-text {
        top: 33vh;
        font-size: 180rem; } }
  #stefanmos img {
    width: 100px;
    margin: 20px auto; }

#smitten {
  text-align: center; }
  #smitten img {
    height: auto;
    width: 80%; }

#sutairu {
  text-align: center; }
  #sutairu .button, #sutairu .button-left, #sutairu .button-right {
    border-color: #D670A2;
    color: #D670A2; }
    #sutairu .button:hover, #sutairu .button-left:hover, #sutairu .button-right:hover {
      background: #D670A2;
      color: #FFF; }
  #sutairu img {
    height: auto;
    width: 80%; }

#onlygodforgives {
  text-align: center; }
  #onlygodforgives img {
    height: auto;
    width: 80%; }

#sketch img {
  max-height: 150px;
  width: auto;
  margin-bottom: 30px; }
#sketch .button, #sketch .button-left, #sketch .button-right {
  border-color: #F3BC16;
  color: #F3BC16; }
  #sketch .button:hover, #sketch .button-left:hover, #sketch .button-right:hover {
    background: #F3BC16;
    border: 1px solid #F3BC16;
    color: #FFF; }

#sketchkit img {
  max-height: 100px;
  width: auto;
  margin-bottom: 30px; }
#sketchkit .button, #sketchkit .button-left, #sketchkit .button-right {
  border-color: #F3BC16;
  color: #F3BC16; }
  #sketchkit .button:hover, #sketchkit .button-left:hover, #sketchkit .button-right:hover {
    background: #F3BC16;
    border: 1px solid #F3BC16;
    color: #FFF; }

#react img {
  max-height: 150px;
  width: auto;
  margin-bottom: 30px; }
#react .button, #react .button-left, #react .button-right {
  border-color: #67DAF9;
  color: #67DAF9; }
  #react .button:hover, #react .button-left:hover, #react .button-right:hover {
    background: #67DAF9;
    border: 1px solid #67DAF9;
    color: #FFF; }

#railsmethods img {
  max-height: 150px;
  width: auto;
  margin-bottom: 30px; }
#railsmethods .button, #railsmethods .button-left, #railsmethods .button-right {
  border-color: #B5B5B5;
  color: #B5B5B5; }
  #railsmethods .button:hover, #railsmethods .button-left:hover, #railsmethods .button-right:hover {
    background: #B5B5B5;
    border: 1px solid #B5B5B5;
    color: #FFF; }

#scrollermagic img {
  max-height: 150px;
  width: auto;
  margin-bottom: 30px; }
#scrollermagic .button, #scrollermagic .button-left, #scrollermagic .button-right {
  border-color: #B5B5B5;
  color: #B5B5B5; }
  #scrollermagic .button:hover, #scrollermagic .button-left:hover, #scrollermagic .button-right:hover {
    background: #B5B5B5;
    border: 1px solid #B5B5B5;
    color: #FFF; }

.client-grid {
  max-width: 640px;
  margin: auto;
  margin-top: 30px; }

.client-logo {
  width: 14.28%;
  padding: 5px 15px;
  float: left; }
  @media (max-width: 480px) {
    .client-logo {
      width: 33.33%; } }
  .client-logo img {
    width: 100%;
    margin: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-blend-mode: multiply;
    opacity: 0.3; }
    .client-logo img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity: 1; }

.contact {
  width: 100%;
  margin: auto;
  padding: 0 20%; }

#map {
  width: 100%;
  height: 100vh;
  padding: 0; }

/**
 * fullPage 2.4.3
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px; }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1; }

#fp-nav.right {
  left: 30px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav li,
.fp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav li {
  display: inline-block; }

#fp-nav li a,
.fp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav li .active span,
.fp-slidesNav .active span {
  background: #333; }

#fp-nav span,
.fp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1; }

.fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px; }

.fp-tooltip.right {
  right: 20px; }

.fp-tooltip.left {
  left: 20px; }

.normal {
  display: block;
  height: auto !important;
  overflow: auto; }
  .normal .fp-tableCell {
    display: block;
    height: auto !important;
    overflow: auto; }

/*# sourceMappingURL=sutairu.css.map */
