// Custom SASS

// MENU

#logo
  width: 35px
  position: absolute
  display: block
  left: 40px
  top: 40px
  @media (max-width: $mobile)
    left: 25px
    top: 25px

#open
  width: 20px
  position: absolute
  display: block
  right: 40px
  top: 40px
  cursor: pointer
  z-index: 10
  @media (max-width: $mobile)
    right: 25px
    top: 25px

#close
  width: 20px
  position: absolute
  display: block
  right: 20px
  top: 20px
  cursor: pointer
  z-index: 10

#menu
  width: 100%
  background: #ECECEC
  border: 20px solid #FFF
  position: fixed
  padding: 20px 10px
  height: 100vh
  z-index: 9999
  left: 0
  top: 0
  display: none
  text-align: center
  ul li
    padding: 0
    margin: 0
    a
      font-family: $brand-font
      font-weight: 800
      text-transform: capitalize
      font-size: 60rem
      line-height: 60rem
      color: $primary-color
      &:hover
        color: #000
      img
        width: 25px
        padding: 20px 5px
        -webkit-filter: grayscale(100%) /* Chrome, Safari, Opera */
        filter: grayscale(100%)
        background-blend-mode: multiply
        &:hover
          -webkit-filter: grayscale(0) /* Chrome, Safari, Opera */
          filter: grayscale(0)
    h5
      font-size: 8rem

// NAVAGATION BAR

.navagation-bar
  width: 100%
  position: absolute
  z-index: 9
  bottom: 40px
  left: 10%
  right: 10%
  li
    width: 20%
    float: left
    font-weight: 700
    text-align: center
    padding: 20px 10px 10px 10px
    margin: 0
    border-radius: 4px
    +transition(.5s)
    &:hover
      background: #FAFAFA
      box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07)
    a
      font-family: $brand-font
      font-weight: 600
      text-transform: capitalize
      font-size: 16rem
      color: #000
    p
      font-size: 10rem
      font-weight: 200
      text-transform: capitalize

@media (max-width: $tablet)
  .navagation-bar
    display: none

// SECTIONS

.section
  text-align: center
  padding: 0 15%

.background-text
  width: 100%
  font-weight: 800
  font-size: 200rem
  position: absolute
  text-align: center
  color: #EEEEEE
  z-index: -1
  margin-left: -15%
  top: 25vh
  @media (max-width: $mobile)
    top: 30vh
    font-size: 150rem

#stefanmos
  text-align: center
  .background-text
    font-size: 300px
    @media (max-width: $mobile)
      top: 33vh
      font-size: 180rem
  img
    width: 100px
    margin: 20px auto

#smitten
  text-align: center
  img
    height: auto
    width: 80%

#sutairu
  text-align: center
  .button
    border-color: #D670A2
    color: #D670A2
    &:hover
      background: #D670A2
      color: #FFF
  img
    height: auto
    width: 80%

#onlygodforgives
  text-align: center
  img
    height: auto
    width: 80%

#sketch
  img
    max-height: 150px
    width: auto
    margin-bottom: 30px
  .button
    border-color: #F3BC16
    color: #F3BC16
    &:hover
      background: #F3BC16
      border: 1px solid #F3BC16
      color: #FFF


#react
  img
    max-height: 150px
    width: auto
    margin-bottom: 30px
  .button
    border-color: #67DAF9
    color: #67DAF9
    &:hover
      background: #67DAF9
      border: 1px solid #67DAF9
      color: #FFF

#scrollermagic
  img
    max-height: 150px
    width: auto
    margin-bottom: 30px
  .button
    border-color: #B5B5B5
    color: #B5B5B5
    &:hover
      background: #B5B5B5
      border: 1px solid #B5B5B5
      color: #FFF



.client-grid
  max-width: 640px
  margin: auto
  margin-top: 30px
.client-logo
  width: 14.28%
  padding: 5px 15px
  float: left
  @media (max-width: $mobile)
    width: 33.33%
  img
    width: 100%
    margin: 0
    -webkit-filter: grayscale(100%) /* Chrome, Safari, Opera */
    filter: grayscale(100%)
    background-blend-mode: multiply
    opacity: .3
    &:hover
      -webkit-filter: grayscale(0) /* Chrome, Safari, Opera */
      filter: grayscale(0)
      opacity: 1

.contact
  width: 100%
  margin: auto
  padding: 0 20%

#map
  width: 100%
  height: 100vh
  padding: 0
